<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.api.dbIF.mapper.DbTestMapper">

    <select id="dbConnection" resultType="string">
        SELECT DESCRIPTION
        FROM CONNECTION_TEST
        WHERE PK = 1
    </select>

</mapper>